
.answerTweetForm {
  padding: 1.5rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #e6ecf0;
}

.answerTweetForm label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.answerTweetForm label img {
width: 3rem;
height: 3rem;
border-radius: 9999px;
}

.answerTweetForm label textarea {
 flex: 1;
 border: 0;
 font-size: 1.25rem;
 font-weight: 500;
 margin-top: 0.75rem;
 resize: none;
}

.answerTweetForm label textarea:focus {
  outline: none;
}

.answerTweetForm label textarea::placeholder {
  color: #5b7083;
}

.answerTweetForm button[type=submit] {
margin-left: auto;
background: var(--twitter-blue);
border-radius: 9999px;
padding: 0.75rem 1.5rem;
color: #fff;
font-size: 1rem;
font-weight: 900;
border: 0;
}

.answerTweetForm button[type=submit]:hover {
 filter: brightness(0.9);
  }

